    table {
        width: 70%;
        margin: auto;
    }
    
    .mat-paginator {
        width: 70%!important;
    }
    
    h2 {
        width: 70%;
        margin: auto!important;
    }
    
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
        padding: 15px;
    }